.innerBlock
{
    border: dashed 1px darkgreen; 
}

.block
{
    border: solid 2px black;
}

.resultHidden
{
    display: none;
}

.result
{
    color: red;
    font-weight: bold;
    font-size: large;
}

.tokenResult
{
    color: green;
}